<div style="width: 100%;">
	<div class="o-crossword" data-o-component="o-crossword" data-o-crossword-data="---
version: standard v1
name: Polymousse 3456
author: Fred
editor: Colin Inman
copyright: 2017, Financial Times
publisher: Financial Times
pubdate: 2017/01/08
size: 17x17
across:
- (1,1) 1. Gges (SCRAMBLED,EGGS)
- (3,3) 3. To Persia in a hurry (IRAN)
down:
- (1,1) 1. Gges (SCRAMBLED,EGGS)
- (3,1) 2. Its an air, a police, a disk (RAID)
# 
# Notes on the text format...
# Can't use square brackets or speech marks.
# A clue has the form
# - (COORDINATES) ID. Clue text (ANSWER)
# Coordinates of clue in grid are (across,down), so (1,1) = top left, (17,17) = bottom right.
# ID is a number, followed by a full stop.
# (WORDS,IN,ANSWER): capitalised, and separated by commas or hyphens, or (numbers) separated by commas or hyphens.
# ANSWERS with all words of XXXXXX are converted to numbers.
---">
	<table class="o-crossword-table" cellspacing="0"></table>
    <ul class="o-crossword-clues"></ul>
    <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https://raw.githubusercontent.com/ftlabs/o-crossword/master/src/img/empty.gif?source=o-crossword" class="empty-fallback hidden" />
	</div>
</div>
