<div style="width: 100%;">
	<div class="o-crossword" data-o-component="o-crossword" data-o-crossword-data="https://raw.githubusercontent.com/ftlabs/o-crossword/master/demos/examples/crossword_ft_daily_2016_03_03_15179_ADA_REFORMAT_ANSWERS.yaml">
	<table class="o-crossword-table" cellspacing="0"></table>
    <ul class="o-crossword-clues"></ul>
    <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https://raw.githubusercontent.com/ftlabs/o-crossword/master/src/img/empty.gif?source=o-crossword" class="empty-fallback hidden" />
	</div>
</div>
