<div style="width: 100%;">
	<div class="o-crossword" data-o-component="o-crossword" data-o-crossword-data="https://cdn.rawgit.com/ftlabs/o-crossword/3084a5f074d194817d4a46aed21c9ee72ebfa64e/demos/examples/crossword_ft_daily_2016_03_03_15179_ADA_REFORMAT_ANSWERS.json">
		<ul class="o-crossword-clues"></ul>
		<table class="o-crossword-table"></table>
	</div>
</div>