<div style="width: 100%;">
	<div class="o-crossword" data-o-crossword-force-compact data-o-component="o-crossword" data-o-crossword-data="https://cdn.rawgit.com/ftlabs/o-crossword/b6038602493bf87309d10c9de2762d9fb186edf8/demos/examples/crossword_ft_daily_2016_03_03_15179.json">
		<ul class="o-crossword-clues"></ul>
		<table class="o-crossword-table"></table>
	</div>
</div>