<div style="width: 100%;">
	<div class="o-crossword" data-o-crossword-force-compact data-o-component="o-crossword" data-o-crossword-data="https://cdn.rawgit.com/ftlabs/o-crossword/001d79ac8f4146c244e64760f60a42c788e12ddc/demos/examples/crossword_ft_daily_2016_03_03_15179_ADA_REFORMAT.json">
		<ul class="o-crossword-clues"></ul>
		<table class="o-crossword-table"></table>
	</div>
</div>