////
/// @group o-crossword
/// @link http://registry.origami.ft.com/components/o-crossword
////

@mixin oCrosswordType {
	font-family: monospace;
	min-width: 1.5em;
	min-width: 2ch;
	max-width: 1.5em;
	max-width: 2ch;
	height: 1.5em;
	height: 2ch;
	line-height: 1.5em;
	line-height: 2ch;
	text-align: center;
	box-sizing: border-box;
}

/// Base crosswords styles - add to <crossword>
@mixin oCrosswordBase {

	// scss-lint:disable QualifyingElement
	@include oTypographyBody;
	@include oColorsFor(o-crossword, background);
	@include oTypographySans(-2);
	position: relative;
	display: block;
	max-width: 100%;
	margin: auto;
	padding: 1em 0;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: visible;

	@include oGridRespondTo(M) {
		display: flex;
		flex-flow: wrap;

		li {
			flex-basis: 20em;
		}

		ul {
			display: flex;
			flex-flow: wrap;
			align-content: flex-start;

			.o-crossword-clues-across, .o-crossword-clues-down {
				display: block;
			}
		}
	}

	* {
		box-sizing: border-box;
	}

	.hidden {
		display: none;
	}

	.visually_hidden {
		display: inline-block;
		margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    width: 1px;
	    height: 1px;
	}

	.o-crossword-clue-displayer {
		font-size: 1rem;
		min-height: 1.5em;
		padding: 0.5em;
		border-top-width: 0;
		box-sizing: border-box;
		text-transform: none;
		margin: 0 auto;
		display: table;
		box-shadow: 2px 0 1px rgba(0,0,0,.5);

		position: fixed;
		top:0;
		left: 0;
		background: white;
		width: 100%;

		span {
			display: block;
			padding: 0;
			width: 100%;

			.sr-direction, 
			.sr-instruction,
			.sr-answer {
				// display: none;
				display: inline-block;
				margin: -1px;
			    overflow: hidden;
			    padding: 0;
			    width: 1px;
			    height: 1px;
			}
		}

		@include oGridRespondTo(M) {
			display: none;
		}
	}

	.o-crossword-clue-navigation {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;

		a {
			background: transparent;
			display: inline-block;
			height: 100%;
			width: 50%;
			font-size: 0;
			vertical-align: middle;

			&:before {
				content: '';
				display: block;
				width: 30px;
				height: 30px;
				background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-left?source=o-crossword');
				background-repeat: no-repeat;
				background-size: cover;
				margin-top: 20px;
				user-select: none;
			}

			&.o-crossword-clue-nav-next {
				&:before {
					background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-right?source=o-crossword');
					float: right;
				}

			}
		}
	}

	.o-crossword-grid-wrapper {
		flex-shrink: 0;
		position: relative;
		font-size: 1.5em;
		text-transform: uppercase;

		.o-crossword-magic-input {
			@include oCrosswordType;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			border: none;
			outline: none;
			box-sizing: border-box;
			background: rgba(0,0,0,0.2);
			font-size: 1.5rem;
    		text-transform: inherit;
    		max-width: none!important;
    		border-radius: 0;
    		padding: 0;
		}

		@include oGridRespondTo(M) {
			margin-bottom: 1.5em;
			margin-left: 1em;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 1.5rem;
		margin: 0 auto;

		td {
			border: 1px solid;
			padding: 0;
			@include oColorsFor(o-crossword-border, border);
			@include oColorsFor(o-crossword-cell, background);
			@include oCrosswordType;
			position: relative;
			overflow: hidden;

			&.empty {
				@include oColorsFor(o-crossword-empty, background);

				.empty-fallback {
					position: absolute;
					display: block;

					/*Needs to be oversized to deal with Firefox*/
					width: 110%;
					height: 110%;
					top: -2px;
					left: -2px;
				}
			}

			&[data-o-crossword-highlighted="across"] {
				background-color:rgba(158, 47, 80,.5);
			}

			&[data-o-crossword-highlighted="down"] {
				background-color:rgba(158, 47, 80,.5);
			}

			text-align: center;
			vertical-align: middle;
			position: relative;

			&[data-o-crossword-number]:before {
				content: attr(data-o-crossword-number);
				font-size: 0.5em;
				position: absolute;
				top: 0;
				left: 0;
				letter-spacing: 0;
				line-height: 1em;
    			background: rgba(255,255,255,0.8);
			}
		}
	}

	.o-crossword-clues-wrapper {
		position: relative;
		margin-top: 2em;
		padding-left: 1.5em;
		padding-right: 1.5em;

		@include oGridRespondTo(M) {
			margin-top: 0;
			width: 44em;	
			float: left;		
		}
	}

	.o-crossword-clues {
		float: left;
		display: flex;

		&, ul {
			list-style: none;
			margin: 0;
			padding: 0;
			padding-bottom: 1em;

			li {
				line-height: 1.5em;
				padding-bottom: 0.5em;
				flex-grow: 1;				
				cursor: pointer;
				display: block;

				.has-hover > span{
					@include oColorsFor(o-crossword-clue-highlight, text);
				}

				.sr-direction, 
				.sr-instruction,
				.sr-answer {
					// display: none;
					display: inline-block;
					margin: -1px;
				    overflow: hidden;
				    padding: 0;
				    width: 1px;
				    height: 1px;
				}

				&:focus {
					outline: none;

					& > span{
						@include oColorsFor(o-crossword-clue-highlight, text);
					}
				}
			}
		}

		.o-crossword-user-answer {
			margin-top: 0.5em;

			input {
				border:0;
				display: inline-block;
				border-bottom: 1px solid #000;
				margin-right: 2px;
				width: 25px;
				height: 25px;
				text-transform: uppercase;
				font-family: monospace;
				font-size: 1.5rem;
				text-align: center;
				border-radius: 0;
				padding: 0;

				&:focus {
					outline: none;
					border-bottom: 2px solid rgb(158, 47, 80);
				}
			}

			.separator {
				display: inline-block;
				padding: 0 5px;
			}
		}
		
		.o-crossword-clues-down li:first-child,
		.o-crossword-clues-across li:first-child {
			margin-top: 1em;
		}

		.o-crossword-clues-down:before,
		.o-crossword-clues-across:before {
			line-height: 1.3em;
			font-size: 1.2em;
		}

		.o-crossword-clues-down:before {
			content: 'Down';		
		}

		.o-crossword-clues-across:before {
			content: 'Across';			
		}

		@include oGridRespondTo(M) {
			position: relative;
			opacity: 1;
			height: auto;
			margin-left: 0.9em !important;			
			box-shadow: none;
			border: none;
			transition: none;
			pointer-events: all;
			transform: none !important;

			ul {
				transform: none !important;
			}
		}
	}

	.o-crossword-reset {
		margin: 20px 10px;
		float: right;

		@include oGridRespondTo(M) {
			margin: 0;
			right: 10px;
			top: 10px;
			position: absolute;
			z-index: 2;
		}
	}

	.o-crossword-mobile-toggle {
		margin: 20px 10px;
		float: left;

		&:first-child {
			float: none;
			margin-top: 80px;
		}

		&.visually_removed {
			display: none;
		}

		@include oGridRespondTo(M) {
			display: none;
		}
	}

	.o-crossword-button-row {
		margin-top: -1em;
	}

	.o-crossword-clues-single-column {
		display: block;
		
		li span {
			font-size: 1.5em;
		}

		ul li {
			margin-top: 1em;
		}

		.o-crossword-clues-down:before,
		.o-crossword-clues-across:before {
			font-size: 2em;
		}
		
		.o-crossword-user-answer {
			margin-top: 0.5em;
		}
    }

    .o-crossword-clues-two-columns {
		display: flex;

		.o-crossword-clues-down {
			padding-left: 0.5em;
		}
		.o-crossword-clues-across {
			padding-right: 0.5em;
		}
	}
	
	@include oGridRespondTo(M) {
		.o-crossword-clues-single-column,
		.o-crossword-clues-two-columns {
			display: flex;
		}
	}		
}

