////
/// @group o-crossword
/// @link http://registry.origami.ft.com/components/o-crossword
////

@mixin oCrosswordType {
	font-family: monospace;
	min-width: 1.5em;
	min-width: 2ch;
	max-width: 1.5em;
	max-width: 2ch;
	height: 1.5em;
	height: 2ch;
	line-height: 1.5em;
	line-height: 2ch;
	text-align: center;
}

/// Base crosswords styles - add to <crossword>
@mixin oCrosswordBase {

	// scss-lint:disable QualifyingElement
	@include oTypographyBody;
	background-color: oColorsGetColorFor(o-crossword page, background);
	@include oTypographySans(s);
	position: relative;
	display: inline-block;
	max-width: 100%;
	margin: auto;
	padding: 1em 0;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: visible;

	* {
		box-sizing: border-box;
	}

	.o-crossword-grid-wrapper {
		flex-shrink: 0;
		overflow: hidden;
		position: relative;
		font-size: 1.5em;

		.o-crossword-clue-displayer {
			font-size: 1rem;
			min-height: 1.5em;
			padding: 0.5em;
			border: 1px solid;
			border-top-width: 0;
			box-sizing: border-box;
			@include oColorsFor(o-crossword-border, border);
		}

		.o-crossword-magic-input {
			@include oCrosswordType;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			border: none;
			outline: none;
			box-sizing: border-box;
			background: transparent;
			font-size: inherit;
		}
	}

	&:not([data-o-crossword-force-compact]) {
		@include oGridRespondTo(M) {
			display: flex;

			.o-crossword-clues-wrapper {
				flex-grow: 1;
				display: flex;
			}

			ul, li {
				flex-basis: 18em;
				flex-grow: 1;
			}

			ul {
				display: flex;
				flex-grow: 1;
				flex-flow: wrap;

				.o-crossword-clues-across, .o-crossword-clues-down {
					display: block;
				}
			}
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;

		td {
			border: 1px solid;
			padding: 0;
			@include oColorsFor(o-crossword-border, border);
			@include oCrosswordType;

			&.empty {
				@include oColorsFor(o-crossword-empty, background);
			}

			&[data-o-crossword-highlighted="across"] {
				@include oColorsFor(o-crossword-hidden-across, background);
			}

			&[data-o-crossword-highlighted="down"] {
				@include oColorsFor(o-crossword-hidden-down, background);
			}

			text-align: left;
			vertical-align: top;
			position: relative;

			&.receiving-input {
				border-width: 2px;
			}

			&[data-o-crossword-number]:before {
				content: attr(data-o-crossword-number);
				font-size: 0.5em;
				position: absolute;
				top: 0;
				letter-spacing: 0;
				line-height: 1em;
			}
		}
	}

	.o-crossword-clues-wrapper {
		position: absolute;
		pointer-events: none;
		z-index: 2;
		width: 20em;
	}

	&:not([data-o-crossword-force-compact]) {
		.o-crossword-clues-wrapper {
			@include oGridRespondTo(M) {
				position: relative;
				float: left;
				width: auto;
			}
		}
	}

	.o-crossword-clues {
		float: left;
		max-width: 80vw;

		&, ul {
			list-style: none;
			margin: 0;
			padding: 0;
			padding-bottom: 1em;

			li {
				line-height: 1.5em;
				padding-bottom: 0.5em;
				margin-left: 1em;
				.has-hover {
					color: green;
				}
			}
		}

		.o-crossword-clues-down:before {
			content: 'Down';
			line-height: 1.3em;
			font-size: 1.2em;
			padding-bottom: 0.5em;
		}

		.o-crossword-clues-across:before {
			content: 'Across';
			line-height: 1.3em;
			font-size: 1.2em;
			padding-bottom: 0.5em;
		}

		&.preview {
			transform-origin: 0 0;
			cursor: default;
			display: none;
			pointer-events: all;

			.o-crossword-clues-down {
				span {
					@include oColorsFor(o-crossword-hidden-down, text);
					@include oColorsFor(o-crossword-hidden-down, background);
				}

				&:before {
					@include oColorsFor(o-crossword-hidden-down, text);
					@include oColorsFor(o-crossword-hidden-down, background);
				}
			}

			.o-crossword-clues-across {
				span {
					@include oColorsFor(o-crossword-hidden-across, text);
					@include oColorsFor(o-crossword-hidden-across, background);
				}

				&:before {
					@include oColorsFor(o-crossword-hidden-across, text);
					@include oColorsFor(o-crossword-hidden-across, background);
				}
			}
		}
	}

	&.collapsable-clues .o-crossword-clues {
		position: absolute;
		width: 100%;
		&.magnify, &.magnify-drag {
			background-color: oColorsGetColorFor(o-crossword page, background);
			border: 1px solid grey;
			height: 8em;
			padding-top: 3em;
			@include oGridRespondTo(M) {
				padding-top: 0;
			}
			overflow: hidden;
			margin: 0 1em;
			box-shadow: 0 0 1em black;
			pointer-events: none;
			opacity: 0;
			transition: opacity 0.15s ease;

			&.magnify-drag {
				opacity: 1;
			}
		}
		&.expanded {
			overflow-y: auto;
			height: 100%;
			max-height: 100%;
			background: white;
			box-shadow: 0 0 1em black;
			overflow-x: hidden;
			padding-right: 1em;
			pointer-events: all;
		}
		&.preview {
			display: block;
			position: relative;
		}
	}

	&:not([data-o-crossword-force-compact]) {
		&.collapsable-clues .o-crossword-clues {
			@include oGridRespondTo(M) {
				position: relative;

				&.magnify {
					opacity: 1;
					height: auto;
					margin-left: 1em !important;
					box-shadow: none;
					border: none;
					transition: none;
					pointer-events: all;
					transform: none !important;

					ul {
						transform: none !important;
					}
				}

				&.preview {
					display: none;
					position: relative;
				}
			}
		}
	}
}

/// Add to crossword's wrapper element (if there is one)
@mixin oCrosswordWrapper {
	overflow: auto;
	width: 100%;
}