.o-crossword-keyboard {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  display: none;
  margin: 0 3px 0 0;

  background-color: oColorsGetPaletteColor('white');

  .keyboard-row {
    clear: both;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: flex;

    .keyboard-letter {
      float: left;
      padding: 4px;
      margin: 2px;
      align-self: center;
      text-align: center;
      min-width: 10px;
      font-size: 1.6em;
      line-height: 1.1em;
      color: oColorsGetPaletteColor('black');
      border-top: 1px solid oColorsGetPaletteColor('black');
      border-right: 1px solid oColorsGetPaletteColor('black');
      border-bottom: 1px solid oColorsGetPaletteColor('black');
      border-left: 1px solid oColorsGetPaletteColor('grey-tint3');
    }
  }
}